/******************************************************************************************/
/* General styles                                                                         */
/******************************************************************************************/

body 	
{ 
	font-family:Arial, Helvetica, sans-serif; 
}
a 		
{ 
	color: #00bb27; 
}
a:hover	
{ 
	color: #228B38; 
}
h1, h2, h3, h4, h5, h6 
{
}
h1
{
}
h2
{
}
h3
{
}
h4
{
}

/******************************************************************************************/
/* Layout Divs                                                                            */
/******************************************************************************************/

.container	
{ 
	max-width: 980px;
}


/***********************************************/
/* Forms                                       */
/***********************************************/




/******************************************************************************************/
/* Components	               		                                                      */
/******************************************************************************************/



/******************************************************************************************/
/* Pages styles    		                                                                  */
/******************************************************************************************/


/* home page ****************************************************************************/

body.home
{
}

