/******************************************************************************************/
/* General styles                                                                         */
/******************************************************************************************/

body
{
	padding-top: 70px;
}

/******************************************************************************************/
/* Layout Divs                                                                            */
/******************************************************************************************/




/***********************************************/
/* Forms                                       */
/***********************************************/

#validationMessages			{ display: none; }
#validationMessages label 	{ float:none; display: block; }



/******************************************************************************************/
/* Components	               		                                                      */
/******************************************************************************************/

#addMarkerLink
{
	background-image: url(../images/add-marker.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	left: 48%;
	bottom: 15px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 2px solid #000000;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

	
#map
{
    height: 600px;
    width: 100%;
    margin: 0 -15px;
}


/******************************************************************************************/
/* Pages styles    		                                                                  */
/******************************************************************************************/


/* Page : home ****************************************************************************/

body.home #map
{
    height: 300px;
    width: 100%;
}


/* Page : step2 ****************************************************************************/

body.step2 #map
{
    height: 300px;
    width: 100%;
}

