
		/* ORDER */
			#order .categoria			{ background-color: #F99E00; color: #fff; }
			#order .subcategoria		{ background-color: #A3C97A; color: #fff; }
			#order .tag					{ background-color: #4cb3e8; padding-left: 20px; color: #fff; }
			#order .principio_activo	{ background-color: #4cb3e8; padding-left: 20px; color: #fff; }

		/* SPACE */
			.space  { margin: 5px 0; }

